---
import { type GetStaticPaths, type Page } from "astro";
import { getCollection, type CollectionEntry } from "astro:content";
import Layout from "~/layouts/BaseLayout.astro";
import H1 from "~/components/H1.astro";
import Main from "~/components/Main.astro";
import PostsList from "~/components/PostsList.astro";
import PaginationLinks from "~/components/PaginationLinks.astro";

export const getStaticPaths: GetStaticPaths = async ({ paginate }) => {
  const posts = await getCollection("posts");
  return paginate(posts, { pageSize: 6 });
};

type Props = {
  page: Page<CollectionEntry<"posts">>;
};

const { page } = Astro.props;
const posts = page.data;
---

<Layout
  title="Blog - Rhythm Nation"
  description="Read and learn from music producers and enthusiasts"
  image="images/drums.jpg"
>
  >
  <Main>
    <H1 text="Rhythm Nation Blog" />
    <p class="text-zinc-900 text-2xl mb-24 max-sm:mb-14">
      Join the community and learn from Music Producers and Enthusiasts hey foo
    </p>
    <div class="mb-12">
      <PaginationLinks
        next={page.url.next}
        prev={page.url.prev}
      />
    </div>
    <PostsList posts={posts} />
    <div class="mb-24">
      <PaginationLinks
        next={page.url.next}
        prev={page.url.prev}
      />
    </div>
  </Main>
</Layout>
