---
import { getCollection, type CollectionEntry } from "astro:content";
import Main from "~/components/Main.astro";
import Layout from "~/layouts/BaseLayout.astro";
import { Icon } from "astro-icon/components";
import H1 from "~/components/H1.astro";
import { Image } from "astro:assets";
import TableOfContents from "~/components/TableOfContents.astro";
import SocialShare from "~/components/SocialShare.astro";

export const getStaticPaths = async () => {
  const posts = await getCollection("posts");
  return posts.map((post) => ({
    params: { slug: post.slug },
    props: { post },
  }));
};

type Props = {
  post: CollectionEntry<"posts">;
};

const {
  post,
  post: {
    data: { title, cover },
  },
} = Astro.props;

const { Content, headings } = await post.render();
---

<Layout title={title}>
  <Main>
    <a
      id="top"
      href="#top"
      class="text-xs text-transparent"
      >Top Anchor</a
    >
    <div class="border-b-4 border-zinc-500 w-fit mb-16">
      <a
        href="/blog"
        class="text-zinc-500 text-2xl"
      >
        <Icon
          name="arrow-left"
          class="size-5 inline mr-2"
        />
         Back to all posts
      </a>
    </div>
    <H1 text={title} />
    <Image
      src={cover}
      alt={title}
      class="rounded-2xl shadow-xl mb-28 aspect-thumbnail object-cover"
    />
    <div class="mb-10">
      <TableOfContents headings={headings} />
    </div>
    <div class="relative">
      <SocialShare post={post} />
      <div class="prose prose-2xl overflow-visible relative">
        <Content />
      </div>
    </div>
    <a
      href="#top"
      class="text-zinc-500 underline"
      >Back to Top</a
    >
  </Main>
</Layout>
